---
import HeaderLink from "./HeaderLink.astro";
import LanguageSelect, { LanguageSpecificLink } from "./LanguageSelect.astro";

export interface Props {
  title: string;
  lang?: string | undefined;
  links?: LanguageSpecificLink[],
}

const { title, lang = "en", links = [] } = Astro.props;
---

<header class="mx-auto max-w-screen-lg px-3 py-6">
  <section class="header-section flex flex-col gap-y-3 sm:flex-row sm:items-center sm:justify-between"
  >
    <h2 class="h2-title pure-u-1-12 terminal-prompt">
      {title}
    </h2>
    <div class="lang-select-holder pure-u-2-3">
      <LanguageSelect lang={lang} links={links} />
    </div>
  </section>
  <nav>
    <HeaderLink href={`/${lang}`}>Home</HeaderLink>
    <HeaderLink href={`/${lang}/blog`}>Blog</HeaderLink>
    <HeaderLink href={`/${lang}/about`}>About</HeaderLink>
    <HeaderLink href="https://github.com/rexk/rexk.github.io" target="_blank">
      GitHub
    </HeaderLink>
  </nav>
</header>
