---
import type { CollectionEntry } from "astro:content";
import type { LanguageSpecificLink } from "../components/LanguageSelect.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { getLocalizedSite } from "../data/site";
import { KNOWN_LANGUAGES } from "../consts";

type Props = CollectionEntry<"blog">["data"] & {
  links?: LanguageSpecificLink[];
};

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  lang = "en",
  links = [],
} = Astro.props as Props;

const site = getLocalizedSite(lang);
---

<html lang={lang}>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header title={site.title} lang={lang} links={links} />
    <main>
      <article class="container mx-auto max-w-screen-lg px-3 py-6">
        {
          heroImage && (
            <img
              class="h-full w-full rounded-lg object-cover object-center"
              src={heroImage}
              alt=""
            />
          )
        }
        <h1 class="title">{title}</h1>
        {
          pubDate && (
            <FormattedDate date={pubDate} locale={KNOWN_LANGUAGES[lang]} />
          )
        }
        {
          updatedDate && (
            <div class="last-updated-on">
              Update:{" "}
              <FormattedDate
                date={updatedDate}
                locale={KNOWN_LANGUAGES[lang]}
              />
            </div>
          )
        }
        <hr />
        <slot />
      </article>
      <div class="giscus container mx-auto max-w-screen-lg px-3 py-6"></div>
      <script
        src="https://giscus.app/client.js"
        data-repo="rexk/rexk.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyMTQ1MDQxMw=="
        data-category-id="DIC_kwDOAUdOrc4CVAhW"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="bottom"
        data-theme="dark_dimmed"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async
      ></script>
    </main>
    <Footer />
  </body>
</html>
